<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @contact.city.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contact.date %>
</p>

<p>
  <strong>Contact num:</strong>
  <%= @contact.contact_num %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
